body {
    font-family: Roboto, 'Open Sans', sans-serif;
}
.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-weight: 900;
    color: #f9faf8;
    font-size: 48px;
}

.header-text {
    font-size: 24px;
}

.text {
    font-size: 18px;
    color: #f9faf8;
}

.s1 {
    background-color: #1F2937;
    display: flex;
}

.top-img {
    width: 500px;
    height: 300px;
    object-fit: cover;
}

.s2-header {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.boxes {
    display: flex;
    gap: 60px;
    justify-content: center;
    margin: 50px 10px;
    
}
.box-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid #3882f6;
    border-radius: 5px;
}

.box-text {
    font-size: 18px;
    color: #868686;
    text-align: center;
    width: 150px;
}

.s3 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    gap: 20px;
}

.quote {
    
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    text-align: center;
    flex-basis: 100px;
}

.quote-end {
    color: #000000;
    font-weight: 900;
    align-self: flex-end;
}

.s4-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
}
.s4 {
    background-color: #3882f6;
    display: flex;
    height: 100px;
    width: 600px;
    justify-content: space-between;
    align-items: center;
    color: #e5e7eb;
    padding: 10px 60px;
    border-radius: 7px;
}

.s4-left {
    display: flex;
    flex-direction: column;
}

.s4-header {
  font-weight: bold;
  font-size: 18px;
}

.s4-text {
    font-size: 14px;
}

.s4-button {
    width: 100px;
    height: 30px;
    background-color: #3882f6;
    border-radius: 5px;
    border-color: #e5e7eb;
    border-style: solid;
    font-weight: bold;
    color: #e5e7eb;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 30px;
    color: #e5e7eb;
    font-size: 14px;
}