.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-family: Roboto, 'Open Sans', sans-serif;
    font-weight: 900;
    color: #f9faf8;
    font-size: 48px;
}

.header-text {
    font-size: 24px;
}

.text {
    font-family: Roboto, 'Open Sans', sans-serif;
    font-size: 18px;
    color: #f9faf8;
}

.s1 {
    background-color: #1F2937;
    display: flex;
}

.top-img {
    width: 500px;
    height: 300px;
    object-fit: cover;
}

.s2-header {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.boxes {
    display: flex;
}
.box-img {
    width: 200px;
    height: 200px;
}

.box-text {
    font-family: Roboto, 'Open Sans', sans-serif;
    font-size: 18px;
    color: #868686;
}

.s3 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    gap: 20px;
}

.quote {
    font-family: Roboto, 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    text-align: center;
}

.quote-end {
    color: #000000;
    font-weight: 900;
    align-self: flex-end;
}

.s4-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
}
.s4 {
    background-color: #3882f6;
    display: flex;
    height: 100px;
    width: 600px;
}

.s4-left {
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}